@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lilita+One&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

/*estilização do menu*/

.menu-lateral{
    width: 15vh;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.ativo {
    background-color: #fff;
}

ul li.ativo a {
    color: #202020;
}


ul li.item-menu:hover {
    background: #fff;
}

.item-menu:hover .jogos {
    overflow: visible;
}

ul li.item-menu {
    transition: .3s;
}

ul li.item-menu a:hover {
    color: #202020;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon {
    font-size: 40px;
    margin-left: 10px;
}

.material-icon {
    margin-left: 15px;
}

.text {
    color: #fff;
    font-size: 30px;
    display: block;
    position: relative;
    top: 200px;
    text-align: left;
    padding: 40px;
}

.btn-login {
    width: 200px;
    height: 60px;
    font-size: 25px;
    border: none;
    border-radius: 1000px ;
    margin-left: 100px;
    margin-top: 10px;
    padding: 0;
    background: #202020;
    color: #fff;
    text-transform: capitalize;
    transition: .5s;
}

.btn-login:hover {
    box-shadow: #fff 0 3px 0;
    cursor: pointer;
}

/* site login*/

.login-area {
    width: 320px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    min-height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.login-area h1 {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
}

.login-area .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 50px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
}

.login-area .btn {
    width: 110%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
}

.banners {
    display: inline-block;
    justify-content: center;
    margin-left: 18%;
    text-align: center;
    color: #fff;
}

.banners .banner {
    width: 350px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}

.banner {
    cursor: pointer;
    transition: .5s;
    border: none;
    border-radius: 20px;
}

.banner:hover {
    transform: scale(1.2);
}

.game_name {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*galeria*/

audio {
    position: absolute;
    left: 40%;
    top: 5%;
    background: transparent;
}

.galeria {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.galeria div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    flex: none;
}

.galeria div img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
    transition: .5s;
    border-radius: 15px;
}

.galeria::-webkit-scrollbar {
    display: none;
}

.galeria .icone-direita {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 79%;
    top: 35%;
    border-radius: 50%;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    margin: 50px;
    cursor: pointer;
}

.galeria-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#icone-esquerda {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 12%;
    border-radius: 50%;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}

#icone-direita {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    right: 12%;
    border-radius: 50%;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}

.galeria div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

/*area de perfil*/

.user {
    position: absolute;
    left: 20%;
    top: 26%;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: url('img/subaru.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.user:hover{
    background: url('img/Subaru Duck Dance.gif');
    background-size: cover;
}

.info {
    height: 340px;
    width: 400px;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 20%;
    right: 12%;
    color: #fff;
    padding: 20px 2%;
    justify-content: center;
    border: none;
    box-shadow: -2px 0 0 #fff;
}

.info .texto {
    font-size: 17px;
}

.info h2 {
    font-size: 30px;
}

.div_transicao {
    height: 100vh;
    width: 100vw;background: #202020;
    position: absolute;
    z-index: 999;
    transform: translateX(-100%);
    transition: .9s;
}

.div_transicao .active {
    transform: translateX(-100% - 100%);
}